* {
  font-family: FontAwesome, Fira Sans;
  font-size: 17px;
}

tooltip {
  background: rgba(30, 30, 46, 1.0);
}

window#waybar {
  background-color: rgba(17, 17, 27, 1.0);
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 0px;
  transition-duration: 0.5s;
  margin: 0px 0px;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button {
  padding: 0 5px;
  color: #6c7086;
  background-color: rgb(49, 50, 68);
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each workspace name */
  border: none;
  border-radius: 0;
}

#workspaces button.focused {
  color: #89b4fa;
}

#workspaces button.active {
  color: #89b4fa;
}

#workspaces button.urgent {
  color: #f38ba8;
}

#window {
  color: #64727d;
}

#clock,
#battery,
#backlight,
#network,
#pulseaudio,
#custom-power-menu,
#custom-gammastep,
#custom-launcher,
#custom-energy-consumption,
#window,
#workspaces {
    padding: 0 15px;
    margin: 5px 0px;
    color: rgb(205, 214, 244);
}

#workspaces {
    background-color: rgb(49, 50, 68);
    border-radius: 15px;
    padding: 0px 10px;
}

#custom-launcher {
  color: #89b4fa;
}

#clock {
  background-color: rgb(49, 50, 68);
  border-radius: 15px;
}

@keyframes blink {
  to {
    color: #abb2bf;
  }
}

#battery.critical:not(.charging) {
  color: #1a1a1a;
  animation-name: blink;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}
